.Upload {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
  text-align: left;
  overflow: hidden;
  
}

.Content {
  display: flex;
  flex-direction: row;
  padding-top: 16px;
  box-sizing: border-box;
  width: 100%;
}
.vl1{
  border-left: 1px solid black;
  height: 170px;
  position: absolute;
  left: 50%;
  margin-left: -1px;
  
 
}
.or{
  margin-top: 180px;
}
.vl2{
  border-left: 1px solid black;
  height: 170px;
  position: absolute;
  left: 50%;
  margin-left: -1px;
  margin-top: 225px;
  
 
}
.btn-group button{
   
  background-color: #3F0A87;
  margin-top: 10px;
  color: white; 
  padding: 5px 24px; 
  cursor: pointer; 
  width: 275px; 
  display: block;
  height: 50px;
  text-align: center;
  white-space: nowrap;
  
 
}
button .icon1 {
  background: url("google-drive.png") no-repeat;
  float: left;
  width: 16px;
  height: 16px;
  
}  
button .icon2 {
  background: url("dropbox.png") no-repeat;
  float: left;
  width: 16px;
  height: 16px;
  margin-right: 10px
}  


.Actions {
  display: flex;
  flex: 1;
  width: 100%;
  align-items: flex-end;
  flex-direction: column;
  position: relative;
  
  
  
}



.Filename {
  margin-bottom: 8px;
  font-size: 16px;
  color: #555;
}

.Row {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  height: 50px;
  padding: 8px;
  overflow: hidden;
  box-sizing: border-box;
}
.App {
  text-align: center;
  background-color: rgb(206, 213, 223);
  min-height: 100vh;
  display: flex;
  width: 1600px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Card {
  background-color: white;
  padding: 32px;
  width: 1050px;
  height: 500px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11),
    0 5px 15px 0 rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
}

