.Background{
    text-align: center;
    background-color: rgb(206, 213, 223);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    
    background-color: white/*calc(10px + 2vmin)*/;
    margin: 50px 50px 50px 50px;
}
  button .attachicon {
    background: url("../../icons8-attach-26.png") no-repeat;
    float: right;
    width: 26px;
    height: 26px;
    
  } 
  div.scrollable{
    height: 100px;
    width: 75px;
    margin: 0;
    padding: 0;
    overflow: scroll;
  
  }
  
  .input{
    margin-top: 5px;
  }
  
  .uploadButton {
  background-color: #3F0A87;
    color: white;
    margin-top: 10px;
    width: 100px;
    white-space: nowrap;
    letter-spacing: 0px;
    text-align: center;
    margin-left: 10px;
    font: Bold 18px/25px Montserrat;
  }
  .cancel{
    color: #3F0A87;
    background-color: white;
    font: Bold 18px/25px Montserrat;
    border: none;
  }